.item {
    border-radius: 15px;
    flex:1;
    margin: 20px;
    /* background-color: rgb(42, 165, 165); */
}

.item:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 1s ease;
}

.title{
 /* background-color: brown; */
}

.poster{
    
}